# Python 

Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Python’s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.


## In this notebook we will learn basics math in python, variables, Strings and Type casting

In [1]:
# On Gartner website what they say on Python and Other P Languages
# https://www.gartner.com/doc/1404815/planguages-php-perl-python-enterprise

# Lets Start

In [3]:
# Adding two or more Numbers 

2 + 34 + 24 + 65 + 100

225

In [4]:
# Subtracting Numbers

(500+23+24) - 123

424

In [8]:
# Dividing

44 / 2

22.0

In [5]:
# a = int(a)

int(44 / 2)

22

In [6]:
# Multplying

44 * 2 * 10

880

In [10]:
# Find power of value

print( 13 ** 2 ) 
print( 23 ** 2 )

169
529

In [14]:
12 ** 2

144

In [15]:
9 ** 2

81

### Variables in Python
A variable can be considered a storage container for data. Every variable will have a name. For example, we can have a variable named speed_of_light. 

#### How to Assign value to variable

In [18]:
pi = 3.14

In [19]:
# how to show value

pi

3.14

In [22]:
# Here is another example

box_length = 30

print (box_length)

30

In [21]:
# Here is how to display in programs

print (box_length)

30

In [23]:
# Assigning of string

name = "Hammad Zahid"
address = "h 507 k block lahore"

print(name)
print(address)

Hammad Zahid
h 507 k block lahore

### How to find total min in 3 hours?

In [25]:
hours = 30

# formula [1hour =  60min]

min = hours * 60

print( min, "min")

1800 min

### Input your name 
### input your age

#### show types of your input

In [26]:
name = input()

age = input()

Ali butt
110

In [27]:
# display type of inputs we use type()

print ( type(name) ) 

print( type(age) )

<class 'str'>
<class 'str'>

### Oh great

But age cannot be string
hm. So here comes Type casting

We have some functions here in python like float(), int(), bool() etc.

### So lets do it

In [31]:
age = float(age)

print( type(age) )

# well that is fab

# name = float (name)
# print( type(name) )

# Not possible

<class 'float'>

### Find the area of triangle.

In [35]:
tri_x = float( input() )
tri_y = float( input() ) 

area = (1/2) * tri_x * tri_y

print("Area of Triangle ",area, 'meter')

2
3
Area of Triangle  3.0 meter

### Find the area of sphere.

A=4πr^2

Ask your user input. Also Do you know You many inputs you will get from user?
Obviously only one that is radius.

##### Fantastic you are doing well!

In [53]:
# Write you program here

### Lets Move on Data Structures Basics

### List And Tuples

### Python have a number of compound data types, used to group together other values.
The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

Here is how you do it

To create a list just type the list within square brackets [ ] with your content inside the parenthesis and separated by commas. Let’s try it!

In [65]:
names_list = ['Utomon' , 'Muzemil', 'Abdus', 'Adel', "Hammed" ]

print( names_list )

['Utomon', 'Muzemil', 'Abdus', 'Adel', 'Hammed']

#### Lets play some more

In [66]:
names_age_list = ['Utomon', 9 ,False , 'Muzemil', 9.5 , True , 'Abdus', 9.3 ,True ,  'Adel' , 9.2 , True ]

print(names_age_list)

['Utomon', 9, False, 'Muzemil', 9.5, True, 'Abdus', 9.3, True, 'Adel', 9.2, True]

A list is a sequenced collection of different objects of Python, such as integers, strings, and other lists as well. The address of each element within a list is called an index. An index is used to access and refer to elements within a list.

In [44]:
# Value at index 10

print(names_age_list[10])

9.2

### Find Values at indices 3,5.

### Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content:

In [72]:
cubes_of_Num = [1, 8, 27, 65, 125]  # Cubes of 1, 2, 3, 4, 5

4 ** 3  # the cube of 4 is 64, not 65!

# So lets change it

64

In [73]:
cubes_of_Num[3] = 64

print(cubes_of_Num)

[1, 8, 27, 64, 125]

In [74]:
# Hurrah you did change specific index value

## A tuple consists of a number of values separated by commas.

Tuples are similar to lists, but the data cannot be changed. Tuples elements are also accessed using indexing.

In [76]:
data = 12345, 54321, 'hello!'

In [78]:
data 

# Do know the difference

(12345, 54321, 'hello!')

In [80]:
# Two tuples in one tuples

( (12345, 54321, 'hello!') ,  (1, 2, 3, 4, 5) )

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

### but
Tuples are immutable:

In [86]:
data[0] = 88888 # See Error tuples are immutable

TypeError: 'tuple' object does not support item assignment

### You can also create a list from a tuple using the **list** type function as shown below.

In [91]:
A_tuple= (1, 'hello', [1,2,3 ] , True) + (1,2)

list_ = list(A_tuple)

In [92]:
list_

[1, 'hello', [1, 2, 3], True, 1, 2]

### Have you notice syntax difference ? and Also logical difference

list mutuable (can be changed) and tuples are not.

## Accessing items in a list and Tuples
*Important*

In [118]:
tuple1 = (1,2,3,451)

list1 = [1,2,3,45,5]

In [119]:
# print elements at 3 indices

print ( tuple1[3]  )

print( list1[3]   )    # we use []

451
45

### Slicing

All slice operations return a new list containing the requested elements.

In [120]:
list1 [1:3]

[2, 3]

In [121]:
# As you know

print( list1 )

# slicing see 4 index is omitted
print ( list1[ 0: 4] )

[1, 2, 3, 45, 5]
[1, 2, 3, 45]

### Element at index

In [127]:
list1.index(45)

3

In [128]:
list1.index(2)

1

###  Retrieve the elements stored at index 3,4, and 5 of names list.

In [131]:
names = ['Ali', 'Ajit', 'David', 'Joshua', 'ail@gmail.com', 1298, True]

# write your code here

### Lists are mutable, so you can remove items from them.

In [133]:
fruits = ['apple', 'orange','banana', 'melon', 'grapes', 'pineapple', 'water melon']

print(fruits)

# remove apple

fruits.remove('apple')
print(fruits)

['apple', 'orange', 'banana', 'melon', 'grapes', 'pineapple', 'water melon']
['orange', 'banana', 'melon', 'grapes', 'pineapple', 'water melon']

### Concatenating lists
Concatenation is the process of putting things together, in sequence. Just use the + operator.

In [135]:
Alist = [1,42,41,43,45,533]

Blist = ['a','s', 'l', 'm']


# Concat

Clist = Alist + Blist
print(Clist)

[1, 42, 41, 43, 45, 533, 'a', 's', 'l', 'm']

In [140]:
# To get the length
print ( len(Alist) )

print ( len(tuple1) )

6
4

### You can sort the list:

In [154]:
marks = [23,1,33,22,11,34,25,33.5]

# sort
# type marks and '.' and hit tab to see functions available

print ( marks )
sorted (marks)

[23, 1, 33, 22, 11, 34, 25, 33.5]

[1, 11, 22, 23, 25, 33, 33.5, 34]

In [162]:
# One more thing
# String to tuple

tuple("Hey junior data scietist")

('H',
 'e',
 'y',
 ' ',
 'j',
 'u',
 'n',
 'i',
 'o',
 'r',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'e',
 't',
 'i',
 's',
 't')

In [166]:
# To find the length of strings

print ( len("Data") ) 

name = "Allen James"
print ( len (name) )

4
11

### Dictionaries in Python

 Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.
 
 It is best to think of a dictionary as an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.
 
 
#### dic = { key1: val1 , key2: val2 , ... }

In [167]:
dics = {'A': 200, 'B': 400}

print (dics)

{'A': 200, 'B': 400}

In [169]:
print ( dics['A'] )

print ( dics['B'] )

200
400

In [176]:
# Add key and value

dics['C'] = 1000
dics['D'] = -5

print(dics)

{'A': 200, 'B': 400, 'C': 1000, 'D': -5}

In [177]:
# delete key

del dics['D']

print(dics)

{'A': 200, 'B': 400, 'C': 1000}

In [178]:
# Search in dictionary

'C' in dics

True

In [179]:
'D' in dics

False


The dict() constructor builds dictionaries directly from sequences of key-value pairs:

In [185]:
dict( [ ('Ali', 4139), ('Joshua', 4127), ('David', 4098) ] )

{'Ali': 4139, 'David': 4098, 'Joshua': 4127}

In [188]:
# or

dict(P=4139, H=4127, N=4098)

{'H': 4127, 'N': 4098, 'P': 4139}

## Lets do some practice:

Add (E:200),[M:600] in dics as above we did.

dics = {'A': 200, 'B': 400}

Delete A and B keys from dics dictionary.

## Sets
Python also includes a data type for sets. A set is an unordered collection with no duplicate elements.

In [192]:
# See interesting thing
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket

# haha observe it

{'apple', 'banana', 'orange', 'pear'}

In [196]:
a = set('abracadabra')

# See duplicates are gone
a

{'a', 'b', 'c', 'd', 'r'}

# Awesome Guys we are going fantastically well.

## I congratulate you!


### For any confusion do not go anywhere go to offica